
<a href="product-overview.html" title="VISUALPLANT is a platform for companies to upload, manage and distribute video on the Internet." class="nav">Product</a>  &nbsp;&nbsp;<span class="pipe">&nbsp;</span>&nbsp;&nbsp;
<a href="case-studies.html" title="How companies use this product" class="nav">Case studies</a> &nbsp;&nbsp;<span class="pipe">&nbsp;</span>&nbsp;&nbsp;
<a href="about-us.html" title="About us" class="nav">Company</a>  &nbsp;&nbsp;<span class="pipe">&nbsp;</span>&nbsp;&nbsp;
<a href="contact-us.html" title="Get in touch" class="nav">Contact us</a>  &nbsp;&nbsp;<span class="pipe">&nbsp;</span>&nbsp;&nbsp; 
<a href="admin.html" title="Client login" class="nav"><b>Client login</b></a>
